// Footer Styles
footer {
    .footerNav {
        color: $secondary;
        margin-bottom: 5px;
        i {
            padding-top: 6px ;
        }
    }
    .footerInfo {
        background-color: $secondary;
        // height: 3.5rem;
        text-align: center;
        p {
            padding: 1rem 10px;
            color: $tertiary;
        }
        a {
            color: $white;
        }
    }
}