// Forms Styles
form {
    margin-top: 50px;
    border: 2px solid $tertiary;
    border-radius: 5px;
    background: whitesmoke;
}

.formStatus {
    margin-top: 25px;
    color: cadetblue;
}

textarea {
    resize: none;
}

// Consolidation Form
.consForm {
    table {
        width: 100%;
        border-collapse: collapse;
        th, 
        tr, 
        td {
            border: 2px solid $background;
        }
        tbody {
            th {
                padding: 5px;
            }
            td {
                background-color: $white;
                min-width: 150px;
                width: calc(100% / 3);
            }
        }
    }
    textarea {
        border: none;
        width: 100%;
    }
}

// Reflection Form
.reflectForm {
    padding: 0 25px 25px 25px;
    li {
        margin-top: 40px;
    }
    textarea {
        margin-top: 25px;
        width: 90%;
        height: 225px;
    }
}