// Header Styles
header {
    // border: 2px solid blue;
    h1 {
        margin: 75px 0 50px 0;
        text-align: center;
    }
    h3 {
        margin: 40px 0 10px;
        // padding-left: 25px;
    }
    h6 {
        padding-left: 25px;
    }
    p {
        padding-left: 50px;
    }
    hr {
        width: 40%;
        color: $tertiary;
    }
    .intro {
        h2 {
            margin-top: 75px;
        }
        p {
            margin: 20px 0 50px 0;
            padding-left: 25px;
        }
    }
    .objectives {
        padding-left: 10px;
    }
}