// Header Styles
header {
    h1 {
        margin: 75px 0 50px 0;
        text-align: center;
    }
    h3 {
        margin: 40px 0 10px;
    }
    h6 {
        padding-left: 25px;
    }
    p {
        padding-left: 50px;
    }
    .title {
        background-image: url(../assets/headerImg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        padding: 10px 0;
        border-bottom: 2px solid $tertiary;
    }
    .intro {
        h2 {
            margin-top: 50px;
            padding: 15px 0 15px 25px;
        }
        p {
            margin: 20px 0 50px 0;
            padding-left: 25px;
        }
    }
    .objectives {
        margin-bottom: 75px;
        padding-left: 10px;
    }
}