// Nav Styles
nav {
    // border: 2px solid green;
    .navFlex {
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    .subNavFlex {
        display: flex;
        p {
            margin: 0 10px;
            padding: 0;
        }
        a {
            color: $secondary;
            &:hover,
            &:focus {
                cursor: pointer;
                color: $background;
                color: $tertiary;
            }
        }
    }
}