// Section Styles
section { 
    // border: 2px solid green;
    padding-bottom: 50px;
    h2 {
        margin-bottom: 25px;
        padding: 15px 0 15px 25px;
    }
    h6 {
        margin: 30px 0 5px 0;
    }
}

// Section Styles: "Leadership Styles"
.leaderStyles {
    h3,
    h4 {
        margin: 50px 0 15px 0;
    }
    p {
        text-indent: 25px;   
    }
    .leaderStylesImg {
        background-image: url(../assets/mtn.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 350px;
        border-top: 2px solid $tertiary;
        border-bottom: 2px solid $tertiary;
        h2 {
            margin-top: 250px;
        }
    }

    .leaderStylesIntro {
        margin-top: 30px;

        p {
            margin-top: 10px;
        }
    }
}

// Section Styles: Consolidation
.consolidation {
    p {
        margin-bottom: 40px;
        text-indent: 25px;
    }
    form {
        padding: 50px 25px 25px 25px;
    }
}

// Section Styles: Your Style
.yourStyle {
    p {
        text-indent: 25px;
    }
    .yourStyleImg {
        background-image: url(../assets/yourStyle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 350px;
        border-top: 2px solid $tertiary;
        border-bottom: 2px solid $tertiary;  
        h2 {
            margin-top: 250px;
        }
    }
}

// Section Styles: Reflection
.reflection {
    margin-top: 50px;
    p {
        text-indent: 25px;
    }
    form {
        padding: 25px;
    }
}

// Section Styles: Quiz
.quiz {
    font-family: $bodyFont;
    color: $secondary;
    font-size: 1rem;
    line-height: 1.5;
    .quizImg {
        background-image: url(../assets/quizImg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 350px;
        border-top: 2px solid $tertiary;
        border-bottom: 2px solid $tertiary;
        h2 {
            margin-top: 235px;
        }
    }
    .questionContainer {
        border: 2px solid $tertiary;
        border-radius: 5px;
        background-color: whitesmoke;
        margin-top: 75px;
        padding: 25px 50px 0 50px;
    }   
    .responses {
        width: 100%;
        margin: 10px 25px 75px 0;
        p {
            font-style: italic;
            font-size: 1.2rem;
            color: $black;
        }
    }
    .results {
        // border: 2px solid blue;
        margin: 50px 0;
        height: 6rem;
        div {
            padding: 15px 0;
            text-align: center;
            color: $primary;
            background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.74), transparent);
            border-radius: 3px;
        }
        h5 {
            text-shadow: 1px 1px 0px $secondary;
        } 
    }
}