// Fonts
$headingsFont: 'Marcellus', serif;
$bodyFont: 'Poppins', sans-serif;
$fancyFont: 'Dancing Script', cursive;

// Colours
$white: white;
$black: black;
$primary: #648282;
$secondary: #3D3D56;
$tertiary: #A38D7F;
$background: #e1daca;