@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Marcellus&family=Poppins:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1 {
  font-family: "Marcellus", serif;
  font-size: 2.5rem;
  color: #648282;
  text-shadow: 1px 1px 0px #3D3D56;
}

h2,
h3,
h4 {
  font-family: "Marcellus", serif;
  color: #648282;
  text-shadow: 1px 1px 0px #3D3D56;
}

h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 0px #3D3D56;
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(rgba(255, 255, 255, 0.81)), color-stop(rgba(255, 255, 255, 0.74)), to(transparent));
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.74), transparent);
  border-radius: 3px;
}

h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 0px #3D3D56;
}

h4 {
  font-size: 1.3rem;
  text-shadow: 1px 1px 0px #3D3D56;
}

h5 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-shadow: 2px 2px 0 white;
}

h6,
p,
ol,
table,
textarea {
  font-family: "Poppins", sans-serif;
  color: #3D3D56;
  font-size: 1rem;
  line-height: 1.5;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
  padding: 0;
}

html {
  background-color: #e1daca;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

ul > li {
  list-style-type: none;
}

a {
  color: #3D3D56;
}
a:hover, a:focus {
  cursor: pointer;
  text-decoration: none;
  color: #A38D7F;
}

i {
  padding: 0 10px;
}

.buttons {
  margin-top: 25px;
  text-align: center;
}

button {
  margin: 0 auto;
  padding: 10px 20px;
  line-height: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #648282;
  border: 2px solid #3D3D56;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}
button:hover, button:focus {
  cursor: pointer;
  background-color: white;
  border: 2px solid #A38D7F;
  color: #648282;
}

.toTop {
  margin: 50px 0;
  text-align: center;
}

nav .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .subNavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .subNavFlex p {
  margin: 0 10px;
  padding: 0;
}
nav .subNavFlex a {
  color: #3D3D56;
}
nav .subNavFlex a:hover, nav .subNavFlex a:focus {
  cursor: pointer;
  color: #e1daca;
  color: #A38D7F;
}

header h1 {
  margin: 75px 0 50px 0;
  text-align: center;
}
header h3 {
  margin: 40px 0 10px;
}
header h6 {
  padding-left: 25px;
}
header p {
  padding-left: 50px;
}
header .title {
  background-image: url(../assets/headerImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #A38D7F;
}
header .intro h2 {
  margin-top: 50px;
  padding: 15px 0 15px 25px;
}
header .intro p {
  margin: 20px 0 50px 0;
  padding-left: 25px;
}
header .objectives {
  margin-bottom: 75px;
  padding-left: 10px;
}

section {
  padding-bottom: 50px;
}
section h2 {
  margin-bottom: 25px;
  padding: 15px 0 15px 25px;
}
section h6 {
  margin: 30px 0 5px 0;
}

.leaderStyles h3,
.leaderStyles h4 {
  margin: 50px 0 15px 0;
}
.leaderStyles p {
  text-indent: 25px;
}
.leaderStyles .leaderStylesImg {
  background-image: url(../assets/mtn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 350px;
  border-top: 2px solid #A38D7F;
  border-bottom: 2px solid #A38D7F;
}
.leaderStyles .leaderStylesImg h2 {
  margin-top: 250px;
}
.leaderStyles .leaderStylesIntro {
  margin-top: 30px;
}
.leaderStyles .leaderStylesIntro p {
  margin-top: 10px;
}
.leaderStyles .leadershipVideo {
  margin: 75px 0 50px 0;
}
.leaderStyles .leadershipVideo p {
  margin-bottom: 50px;
  text-align: left;
}
.leaderStyles .leadershipVideo .videoContainer {
  text-align: center;
}
.leaderStyles .leadershipVideo .videoContainer iframe {
  border: 5px solid #A38D7F;
  border-radius: 5px;
}

.consolidation p {
  margin-bottom: 40px;
  text-indent: 25px;
}
.consolidation form {
  padding: 50px 25px 25px 25px;
}

.yourStyle p {
  text-indent: 25px;
}
.yourStyle .yourStyleImg {
  background-image: url(../assets/yourStyle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 350px;
  border-top: 2px solid #A38D7F;
  border-bottom: 2px solid #A38D7F;
}
.yourStyle .yourStyleImg h2 {
  margin-top: 250px;
}

.reflection {
  margin-top: 50px;
}
.reflection p {
  text-indent: 25px;
}
.reflection form {
  padding: 25px;
}

.quiz {
  font-family: "Poppins", sans-serif;
  color: #3D3D56;
  font-size: 1rem;
  line-height: 1.5;
}
.quiz .quizImg {
  background-image: url(../assets/quizImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 350px;
  border-top: 2px solid #A38D7F;
  border-bottom: 2px solid #A38D7F;
}
.quiz .quizImg h2 {
  margin-top: 235px;
}
.quiz .questionContainer {
  border: 2px solid #A38D7F;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-top: 75px;
  padding: 25px 50px 0 50px;
}
.quiz .responses {
  width: 100%;
  margin: 10px 25px 75px 0;
}
.quiz .responses h5 {
  padding-left: 25px;
}
.quiz .responses p {
  font-style: italic;
  font-size: 1.2rem;
  color: black;
  padding: 0 25px 10px 25px;
}
.quiz .results {
  margin: 50px 0;
  height: 6rem;
}
.quiz .results div {
  padding: 15px 0;
  text-align: center;
  color: #648282;
  background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(rgba(255, 255, 255, 0.81)), color-stop(rgba(255, 255, 255, 0.74)), to(transparent));
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.74), transparent);
  border-radius: 3px;
}
.quiz .results h5 {
  text-shadow: 1px 1px 0px #3D3D56;
}

form {
  margin-top: 50px;
  border: 2px solid #A38D7F;
  border-radius: 5px;
  background: whitesmoke;
}

.formStatus {
  margin-top: 25px;
  color: cadetblue;
}

textarea {
  resize: none;
}

.consForm table {
  width: 100%;
  border-collapse: collapse;
}
.consForm table th,
.consForm table tr,
.consForm table td {
  border: 2px solid #e1daca;
}
.consForm table tbody th {
  padding: 5px;
  width: 175px;
}
.consForm table tbody td {
  background-color: white;
}
.consForm textarea {
  border: none;
  width: 100%;
}

.reflectForm {
  padding: 0 25px 25px 25px;
}
.reflectForm li {
  margin-top: 40px;
}
.reflectForm textarea {
  margin-top: 25px;
  max-width: 95%;
  width: 95%;
  height: 225px;
}

footer .footerNav {
  color: #3D3D56;
  margin-bottom: 5px;
}
footer .footerNav i {
  padding-top: 6px;
}
footer .footerInfo {
  background-color: #3D3D56;
  height: 3.5rem;
  text-align: center;
}
footer .footerInfo p {
  padding-top: 1rem;
  color: #A38D7F;
}
footer .footerInfo a {
  color: white;
}